# environments
.env/
.venv/
.py*[eE]nv/
env/
venv/
ENV/
env.bak/
venv.bak/

# byte-compiled / optimized / DLL files
__pycache__/

# PyCharm IDE folder
.idea/

# setuptools leftovers
build/
dist/
*.egg-info/
