typing_extensions
mypy-extensions
# typing libraries, needed by mypy
types-boto3
types-certifi
types-jsonschema
types-mypy-extensions
types-openpyxl
types-paramiko
types-pyxdg
types-PyYAML
types-requests
types-setuptools
# We do not use this directly, but the crypt4gh stubs embedded in the repo
cryptography >= 41.0.0
