pyyaml
jsonpath-ng
jsonschema[format] >= 3.0.0
paramiko[ed25519]
certifi
crypt4gh
pwgen-passphrase
bagit
aioftp
openpyxl
xlrd2
dulwich
python-dxf
genluhn >= 0.3.0
rfc6920 >= 0.1.2
git+https://github.com/ResearchObject/ro-crate-py.git@jmf/conformsTo_can_be_a_list#egg=rocrate
