sphinx-rtd-theme
sphinx-copybutton
sphinx-argparse
sphinxcontrib.datatemplates
myst-parser
sphinx-autodoc2~=0.5.0
sphinxcontrib.asciinema
sphinx-book-theme
wfexs_backend @ git+https://github.com/inab/WfExS-backend.git@13090f8aadecb2ecc1acf245f8936dadb0107b6b
