.. -*- mode: rst -*-


List of Workflow Engines
~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ make_list_table(
    ['Engine Name', 'Short Name', 'Description','class','uriMatch','uriTemplate','URL','trs_descriptor','rocrate_programming_language','priority','enabled'],
    data.list_workflow_engines(),
    title='Workflow Engines',
    ) }}