# A yaml based on this template is passed to pytest using
# --zenodo-config command-line param.

# A yaml based on this template is processed by https://pypi.org/project/pytest_param_files/
# So, you can learn how to prepare a test battery with several accounts
# having a look at https://github.com/chrisjsewell/pytest-param-files/blob/bfa86b99f425f001d571fa48b324103c2c68dbd0/README.md

# The label of the test
zenodo_sandbox:
  # The description of the test
  description: Zenodo sandbox connection
  # Is the test performed using sandbox.zenodo.org?
  sandbox: true
  # The personal access token obtained from your profile.
  # Procedure to obtain one is described at https://developers.zenodo.org/#creating-a-personal-access-token
  # It should allow creating new entries.
  token: AN_ACCESS_TOKEN
  # An existing internal record identifier, owned by the very same profile
  # as the one used to emit the access token. It is needed for versioning tests.
  owned_existing_pid: AN_OWNED_ZENODO_PID
  # Next keys must appear, even if they are not used, because
  # pytest_param_files check for their existence when the file is parsed.
  content: Something
  expected: >-
    Other
